@page "/Watchers/Events"
@using SharedLib.General

@attribute [Authorize(Roles = "WatcherEvents")]

<AuthorizeView Roles="WatcherEvents, Admin">
    <Authorized>
        <h3 class="horizontal-center">Watcher Events</h3>
        <div class="textarea" style="height: max-content;">
            @foreach (var line in Constants.WatcherEvents.Messages)
            {
                <div class="display-message">@line</div>
            }
        </div>
        <br />
        <div class="bottom-border" />
    </Authorized>
    <NotAuthorized>
        <WobigTools.Pages.Auth.Unauthorized />
    </NotAuthorized>
</AuthorizeView>
<br />
<AuthorizeView Roles="Admin">
    <Authorized>
        <h3 class="horizontal-center">Watcher Audit Logs</h3>
        <div class="textarea" style="height: max-content;">
            @foreach (var line in Constants.WatcherAuditLogs.Messages)
            {
                <div class="display-message">@line</div>
            }
        </div>
        <br />
        <div class="bottom-border" />
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    <NotAuthorized>
        <WobigTools.Pages.Auth.NotLoggedIn />
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Constants.WatcherEvents.MessagesChanged += IndexAsyncHandler;
    }

    private async void IndexAsyncHandler()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
