@page "/Administration/Settings"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@attribute [Authorize]

@inject IMatToaster Toaster
@inject UserManager<IdentityUser> _userManager
@inject RoleManager<IdentityRole> _roleManager

    <AuthorizeView Roles="Admin, Moderator">
        <Authorized>
            <SMTPSettings />
            <br />
            <WobigTools.Pages.Administration.UserManagement />
            <br />
            <h4 class="horizontal-center title">WobigTools Full Version: @currentVersion</h4>
        </Authorized>
        <NotAuthorized>
            <WobigTools.Pages.Auth.Unauthorized />
            <br />
            <h4 class="horizontal-center title">WobigTools Full Version: @currentVersion</h4>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView>
        <NotAuthorized>
            <WobigTools.Pages.Auth.NotLoggedIn />
        </NotAuthorized>
    </AuthorizeView>

    @code {
        private string currentVersion = $"{SharedLib.IO.OSDynamic.GetRunningVersion(AssemblyType.Entry)}";
    }
