@using MatBlazor
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@inject IMatToaster Toaster
@inject UserManager<IdentityUser> _userManager
@inject RoleManager<IdentityRole> _roleManager

<AuthorizeView Roles="Admin">
    <Authorized>
        @if (noRoleUsers.Count > 0)
        {
            <h2 class="horizontal-center"> Users Without Roles:</h2>
            @foreach (var user in noRoleUsers)
            {
                <div class="horizontal-center">@user</div>
            }
            <br />
            <div class="bottom-border" />
        }
    </Authorized>
</AuthorizeView>

@code {
    private List<string> noRoleUsers = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        foreach (var user in _userManager.Users.ToList())
        {
            var roleCount = await _userManager.GetRolesAsync(user);
            if (roleCount.Count <= 0)
            {
                noRoleUsers.Add(user.Email);
            }
        }
    }
}
