<h2 class="horizontal-center"> Please Login </h2>
<table class="table">
    <tr>
        <td class="horizontal-center"><a href="oauth/google" class="btn btn-primary text-center">Google Login</a></td>
    </tr>
</table>

@code {

}
