<h2 class="horizontal-center"> Please Login To Use Our Features </h2>
<table class="table table-striped">
    <tr>
        <td class="horizontal-center"> In-stock Product Notifications </td>
    </tr>
    <tr>
        <td class="horizontal-center">  Webpage Change Notifications  </td>
    </tr>
</table>

@code {

}
