<h3 class="horizontal-center">You don't have access to this page</h3>

<h4 class="horizontal-center">Wait.... how'd you get here?</h4>

<h1 class="horizontal-center">Get out of here!</h1>

@code {

}
