<h3 class="horizontal-center">Not logged in</h3>

<h4 class="horizontal-center">Please log in:</h4>

<div class="horizontal-center"><a href="auth/google" class="btn btn-primary text-center">Google Login</a></div>

@code {

}
