@page "/"

<h1>Hello, world!</h1>

<h1>Get back to work Rick!</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Action 1</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}