@page "/"
@using SharedLib.General
@using MatBlazor
@using SharedLib.Auth
@using SharedLib.Extensions 

@inject IMatToaster Toaster

<AuthorizeView>
    <Authorized>
        <h1 class="horizontal-center">Get back to work Rick!</h1>

        <div class="horizontal-center">
            <button class="btn btn-primary" @onclick="AddLog">Add Log</button>
            <button class="btn btn-secondary" @onclick="ToastBarage">Toast Barage!</button>
            <button class="btn btn-danger" @onclick="(() => TestButton(context))">Dangerous button</button>
            <a href="rename/testing" class="btn btn-primary text-center">Test Testing</a>
        </div>
        <br />
        <br />
        <h2 class="horizontal-center"> Log Output: </h2>
        <div class="textarea">
            @foreach (var line in Constants.DebugLog.Messages)
            {
                <div class="display-message">@line</div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <WobigTools.Pages.Auth.UnAuthorizedLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Constants.DebugLog.MessagesChanged += IndexAsyncHandler;
    }

    private void AddLog()
    {
        Constants.DebugLog.AddMessage($"Adding a test string here! {Guid.NewGuid()}");
    }

    private async void IndexAsyncHandler()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async Task ToastBarage()
    {
        Toaster.CustomToast("Test Toast Yo!", "Test Toast Danger", MatToastType.Danger);
        Toaster.CustomToast("Test Toast Yo!", "Test Toast Info", MatToastType.Info);
        Toaster.CustomToast("Test Toast Yo!", "Test Toast Primary", MatToastType.Primary);
        Toaster.CustomToast("Test Toast Yo!", "Test Toast Success", MatToastType.Success);
        Toaster.CustomToast("Test Toast Yo!", "Test Toast Warning", MatToastType.Warning);
        await Task.CompletedTask;
    }

    private async Task TestButton(AuthenticationState context)
    {
        CoreLogicLib.Auth.Operations.ValidateUserProfile(context.User.GetEmail());
        var userProfile = Constants.SavedData.UserProfiles.GetUserProfile(context.User.GetEmail());
        if (userProfile != null)
        {
            var adminFullAccess = Constants.SavedData.Accesses.CreateAccess("FullAdmin", "Admin", AccessType.Write);
            var adminRole = Constants.SavedData.AccessRoles.CreateRole("Admin");
            userProfile.AuthRoles.Add(adminRole);
            Toaster.CustomToast("Access Granted!", "You have admin now", MatToastType.Success);
        }
    }
}
