@page "/"
@using SharedLib.General

<h1>Get back to work Rick!</h1>

<button class="btn btn-primary" @onclick="AddLog">Test Button</button>

<h2> Log Output: </h2>
<div class="textarea">
    @foreach (var line in Constants.DebugLog.Messages)
    {
        <div class="display-message">@line</div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Constants.DebugLog.MessagesChanged += IndexAsyncHandler;
    }

    private void AddLog()
    {
        Constants.DebugLog.AddMessage($"Adding a test string here! {Guid.NewGuid()}");
    }

    private async void IndexAsyncHandler()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}