@inherits LayoutComponentBase

    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />

    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <WobigTools.Pages.Auth.LoginDisplay />
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>

    @code
        {

        MatTheme theme1 = new MatTheme()
        {
            Primary = "#BB86FC",
            Secondary = "#03DAC6",
            Surface = "#121212",
            Background = "#040404",
            OnPrimary = "#898989",
            OnSecondary = "#76B900",
            OnSurface = "#898989"
        };

    }