@inherits LayoutComponentBase

<MatThemeProvider Theme="@theme1">
    <div class="mat-theme-wobigtech">
        @*<MatButton Icon="favorite">Text</MatButton>
            <MatButton Raised="true" Icon="favorite">Raised</MatButton>
            <MatButton Unelevated="true" Icon="favorite">Unelevated</MatButton>
            <MatButton Outlined="true" Icon="favorite">Outlined</MatButton>
            <MatButton Dense="true" Icon="favorite">Dense</MatButton>*@
    </div>
</MatThemeProvider>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @if (context != null)
                    {
                        <img class="profile-image" src="@context.User.Claims.Where(s => s.Type == "picture").FirstOrDefault().Value" />
                        @*<a href="https://wobigtech.net" target="_blank">Wobigtech.net</a>*@
                    }
                    else
                    {
                        <img class="profile-image" src="https://lh4.googleusercontent.com/-pcIqLhnW714/AAAAAAAAAAI/AAAAAAAAAAA/EVtebngxjds/W96-H96/photo.jpg" />
                    }
                </Authorized>
                <NotAuthorized>
                    <img class="profile-image" src="https://lh4.googleusercontent.com/-pcIqLhnW714/AAAAAAAAAAI/AAAAAAAAAAA/EVtebngxjds/W96-H96/photo.jpg" />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
        {

    MatTheme theme1 = new MatTheme()
    {
        Primary = "#BB86FC",
        Secondary = "#03DAC6",
        Surface = "#121212",
        Background = "#040404",
        OnPrimary = "#898989",
        OnSecondary = "#76B900",
        OnSurface = "#898989"
    };

}