@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <h5>A registration email has been sent from @SharedLib.General.Constants.Config.SMTPEmailFrom</h5>
    <h5>Please check your spam folder if you don't see the email in your inbox</h5>
}
